@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sample App - Deployed using local Git deploy. Now I will use GitHub CI/CD</h1>
    <p>Sample App for Deployment to Azure App Service.</p>
</div>
